{% extends "layout.html" %}
{% block body %}
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
</head>
<style>
	.score-boxes {
		font-family: 'Rajdhani', sans-serif;
		font-size: 30px;
	}
	.totheright{ /*this will align the text to the right*/
	  text-align:right;
	}
	.tothecenter{
		text-align: center;
	}
	.smalltext{
		font-size: 15px;
	}
</style>
<body>
	<script>
		setTimeout(function(){
			window.location.reload(1);
		}, 5000);
	 </script>
	<br></br>

	<div class="container">
		<h3>{{ clean_today_date }}</h3>

		<div class="row">
			<div class="col-md-12">
				<div class="list-group">
					{% for game in games %}
						<a class="score-boxes list-group-item list-group-item-action" href="/boxscores/{{ game['GAME_ID'] }}">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12 tothecenter">
										Quarter: {{ game["QUARTER"]}}  Time Remaining: {{ game["TIME_LEFT"] }}
									</div>
									
								</div>
								<!-- <div class="row", height="50px">
									<img src="{{ '/logos/' + game['TEAM_1_ABBREVIATION'] + '.png' }}", width="auto", padding-right="10%", height="50px">
									<img src="{{ '/logos/' + game['TEAM_2_ABBREVIATION'] + '.png' }}", width="auto", padding-left="10%", height="50px">
								</div> -->
								<div class="row">
									<div class="col-md-4">
										<img src="{{ '/logos/' + game['TEAM_1_ABBREVIATION'] + '.png' }}", width="auto", padding-right="10%", height="50px">
										<p>{{ game["TEAM_1_PTS"] }}</p>
										<p class="smalltext">AST: {{ game["TEAM_1_AST"]}} DRB: {{ game["TEAM_1_DRB"]}} ORB: {{ game["TEAM_1_ORB"]}}</p>
										<p class="smalltext">FT%: {{ game["TEAM_1_FTS"]}} 2P%: {{ game["TEAM_1_2PT"]}} 3P%: {{ game["TEAM_1_3PT"]}}</p>
										<p font-size="15px">Predicted Score: {{ game["TEAM_1_PRED"] }} </p>
									</div>
									<div class="col-md-4 tothecenter">
										vs
									</div>
									<div class="col-md-4 totheright">
										<img src="{{ '/logos/' + game['TEAM_2_ABBREVIATION'] + '.png' }}", width="auto", padding-left="10%", height="50px">
										<p font-size="30px">{{ game["TEAM_2_PTS"] }}</p>
										<p class="smalltext">AST: {{ game["TEAM_2_AST"]}} DRB: {{ game["TEAM_2_DRB"]}} ORB: {{ game["TEAM_2_ORB"]}}</p>
										<p class="smalltext">FT%: {{ game["TEAM_2_FTS"]}} 2P%: {{ game["TEAM_2_2PT"]}} 3P%: {{ game["TEAM_2_3PT"]}}</p>
										<p font-size="15px"> Predicted Score: {{ game["TEAM_2_PRED"] }} </p>	
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
</body>
{% endblock %}